.idea
.gradle
**/*.iml
**/build
**/out

orchestration/setenv.sh
orchestration/**/*.tfstate
orchestration/**/*.tfstate.backup
orchestration/**/*.tfstate.lock.info
orchestration/**/.terraform
orchestration/ansible/**/*.retry
orchestration/ansible/inventory
