.idea
.gradle
**/.DS_Store
**/*.iml
**/build
**/out
**/*.swp

orchestration/setenv.sh
orchestration/vault-pass.txt
orchestration/**/*.tfstate
orchestration/**/*.tfstate.backup
orchestration/**/*.tfstate.lock.info
orchestration/**/.terraform
orchestration/ansible/**/*.retry
orchestration/ansible/inventory
orchestration/ansible/parameters
