---
kind: DeploymentConfig
apiVersion: v1
metadata:
  name: fragnet-search
  namespace: {{ fs_project }}
spec:
  replicas: 1
  selector:
    name: fragnet-search
  template:
    metadata:
      labels:
        name: fragnet-search
    spec:
      containers:
      - name: fragnet-search
        image: squonk/fragnet-search:{{ fs_image_tag }}
        ports:
        - containerPort: 8080
          name: http
        env:
        - name: NEO4J_SERVER
          value: {{ fs_neo4j_server }}
        - name: NEO4J_USER
          value: {{ fs_neo4j_user }}
        - name: NEO4J_PASSWORD
          value: {{ fs_neo4j_password }}
        - name: KEYCLOAK_SERVER_URL
          value: {{ oc_keycloak_server_url }}
        - name: KEYCLOAK_PUBLIC_KEY
          value: {{ oc_keycloak_public_key }}
        - name: KEYCLOAK_SECRET
          value: {{ oc_keycloak_secret }}
        - name: LOG_ROOT
          value: /logs
        - name: CATALINA_OPTS
          value: >-
            -Dkeycloak.baseurl={{ oc_keycloak_server_url }}
            -Dkeycloak.publickey={{ oc_keycloak_public_key }}
            -Dkeycloak.secret={{ oc_keycloak_secret }}
        volumeMounts:
        - mountPath: /usr/local/tomcat/webapps/fragnet-search/META-INF/context.xml
          name: fs-config-map
          subPath: context.xml
          readOnly: true
        - mountPath: /usr/local/tomcat/webapps/fragnet-search/WEB-INF/keycloak.json
          name: fs-config-map
          subPath: keycloak.json
          readOnly: true
        - mountPath: /usr/local/tomcat/conf/logging.properties
          name: fs-config-map
          subPath: logging.properties
        - mountPath: /usr/local/tomcat/webapps/fragnet-search/WEB-INF/web.xml
          name: fs-config-map
          subPath: web.xml
          readOnly: true
        - mountPath: /usr/local/tomcat/conf/server.xml
          name: fs-config-map
          subPath: server.xml
      volumes:
      - name: fs-config-map
        configMap:
          name: fs-config-map
